/* Variables font family */
$fontfam1: 'Kalam';
$fontfam2: cursive;
$fontfam3: 'Devonshire';
$fontfam4: 'Source serif pro';
$fontfam5: 'Dancing script';
$fontfam6: 'kaushan Script';
$fontfam7: 'Montserrat';

/* Variables couleurs du header et du footer */
$headerfooterbackground-color: #579c87;
$headerfootercolor: #fdcb46;

/* variables des menus*/
$BCmenu1: #fcdfdb;
$Cmenu1: #3c1218;
$BCmenu2: #fff5fe;
$Cmenu2: #c77412;
$BCmenu3: #f9f9f9;
$Cmenu3: #2b91f8;
$BCmenu4: #fdfffd;
$Cmenu4: #72bf56;
