@charset "UTF-8";
/*keyframes wiggles */
@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}
@keyframes wiggle {
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

/* keyframes dots */
@-webkit-keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* écrans moins de 720 px */
/* écrans plus de 720 px et moins de 1024px */
body {
  margin: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

/* header */
header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  background-color: #579c87;
  text-align: center;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  color: #fdcb46;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* footer */
footer {
  margin: auto;
  height: 60px;
  background-color: #579c87;
  color: #fdcb46;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

footer .contact {
  padding: 0px 30px 0px 30px;
}

/* animations footer */
.anim:hover {
  -webkit-animation: wiggle 150ms infinite ease-in-out;
          animation: wiggle 150ms infinite ease-in-out;
}

/* éléments page d'accueil et divers */
a {
  color: #fdcb46;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* main */
main {
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.menu h2 {
  font-size: 2.3em;
}

.menu h3 {
  font-size: 1.9em;
}

/* section */
section {
  width: 290px;
  height: 360px;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 20px #bbba;
          box-shadow: 0 0 20px #bbba;
}

/* Zoom : animer */
.zoom {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.zoom:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.3;
}

/* Menu 1 */
.menu1 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: 'Kalam', cursive;
  font-weight: lighter;
}

.menu1 a {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: 'Kalam', cursive;
  font-weight: lighter;
}

.menu1 .font1 {
  font-family: 'Devonshire', cursive;
}

/* icon */
.icon_music .fas {
  font-size: 2em;
  display: inline-block;
  padding: 5px;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f04a5e), to(#f78f6a));
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
}

/* Menu 2 */
.menu2 {
  background-color: #fff5fe;
  color: #c77412;
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
}

.menu2 a {
  background-color: #fff5fe;
  color: #c77412;
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
}

/* Menu 3 */
.menu3 {
  background-color: #f9f9f9;
  color: #2b91f8;
  font-family: 'Kalam', cursive;
}

.menu3 a {
  background-color: #f9f9f9;
  color: #2b91f8;
  font-family: 'Kalam', cursive;
}

.menu3 h2 {
  font-weight: 300;
}

/* Menu 4 */
.menu4 {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: 'Kalam', cursive;
}

.menu4 a {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: 'Kalam', cursive;
}

.menu4 h2 {
  font-weight: 300;
}

/* partie aside */
aside {
  background-color: #579c87;
  color: #fdcb46;
  width: 260px;
  height: 50px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* partie loading dots */
.loading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.loading span {
  display: inline-block;
  -webkit-animation: dots 3s infinite ease-in-out;
          animation: dots 3s infinite ease-in-out;
  font-size: 2em;
}

.loading .point2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading .point3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/* Divers éléments des pages menus  */
.title {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  height: auto;
}

.carte {
  margin: auto auto 30px auto;
  height: auto;
  width: 90%;
}

.subtitle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
}

.subtitle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.bottom_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom_title span {
  margin: auto 15px auto 0px;
  height: 35px;
  width: 35px;
}

.dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

/* Ajouter décos sous-titres menus */
.line_left1 {
  display: inline-block;
  height: 8px;
  width: 220px;
  margin: auto auto auto 0px;
}

.line_right1 {
  display: inline-block;
  height: 8px;
  width: 220px;
  margin: auto 0px auto auto;
}

.line_left2 {
  display: inline-block;
  height: 12px;
  width: 220px;
  margin: auto auto auto 0px;
}

.line_right2 {
  display: inline-block;
  height: 12px;
  width: 220px;
  margin: auto 0px auto auto;
}

/* page 1 */
.page1 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: 'Kalam', cursive;
  font-weight: lighter;
  padding: 30px 100px 30px 100px;
}

.page1 h2 {
  font-weight: 400;
}

.page1 .price {
  font-weight: bold;
}

.page1 .font1 {
  font-family: 'Devonshire', cursive;
  font-size: 2.5em;
}

/* page 2 */
.page2 {
  background-color: #fff5fe;
  color: #c77412;
  font-family: 'Source Serif Pro', serif;
  font-weight: 100;
  padding: 30px 100px 30px 100px;
}

.page2 #color2 {
  color: #a56799;
}

.page2 #color3 {
  color: #6e4ccc;
}

/* page 3 */
.page3 {
  background-color: #f9f9f9;
  color: #2b91f8;
  font-family: 'Kalam', cursive;
  padding: 30px 100px 30px 100px;
}

.page3 h2 {
  font-weight: 400;
}

.page3 .font_color_pages {
  color: #000000;
}

/* page 4 */
.page4 {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: 'Kalam', cursive;
  padding: 30px 100px 30px 100px;
}

.page4 h2 {
  font-weight: 400;
}

.page4 .font_color_pages {
  color: #000000;
}

/* page 5 */
.page5 {
  background-color: #fff5fe;
  color: #3c1218;
  padding: 20px;
  text-align: left;
}

.page5 a {
  color: #579c87;
  text-align: left;
}

/* Ajout des dégradés de couleurs */
.degrade1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #c77412), color-stop(70%, #905bfd));
  background-image: linear-gradient(0.25turn, #c77412 30%, #905bfd 70%);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
}

.degrade2 {
  line-height: 70px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #0431df), color-stop(50%, #518cf0), color-stop(20%, #0887fb));
  background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
}

.degrade3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#3d9339), to(#bfff7e));
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
}

/* Ajout soulignage des titres menus et animation */
/* Divers éléments du border  */
.border {
  display: inline;
  text-decoration: none;
  -webkit-transition: background-size 0.5s;
  transition: background-size 0.5s;
}

.border:hover {
  background-size: 100% 100%;
}

/* border page 1 */
.border1 {
  color: #3c1218;
  background: -webkit-gradient(linear, left bottom, left top, from(#f04a5e), color-stop(10%, #f04a5e), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #f04a5e 0%, #f04a5e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* border page 2 */
/* border 1 */
.border2 {
  color: #c77412;
  background: -webkit-gradient(linear, left bottom, left top, from(#c77412), color-stop(10%, #c77412), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #c77412 0%, #c77412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* border 2 */
.border3 {
  color: #a56799;
  background: -webkit-gradient(linear, left bottom, left top, from(#a56799), color-stop(10%, #a56799), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* border 3 */
.border4 {
  color: #6e4ccc;
  background: -webkit-gradient(linear, left bottom, left top, from(#6e4ccc), color-stop(10%, #6e4ccc), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* border page 3 */
.border5 {
  color: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#0431df), color-stop(10%, #0431df), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #0431df 0%, #0431df 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

.border6 {
  color: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#518cf0), color-stop(10%, #518cf0), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #518cf0 0%, #518cf0 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

.border7 {
  color: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#0887fb), color-stop(10%, #0887fb), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #0887fb 0%, #0887fb 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* border page 4 */
.border8 {
  color: #000000;
  background: -webkit-gradient(linear, left bottom, left top, from(#bfff7e), color-stop(10%, #bfff7e), color-stop(10.01%, transparent)) no-repeat left bottom/0 100%;
  background: linear-gradient(to top, #bfff7e 0%, #bfff7e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}

/* responsive */
/* écrans moins de 720 px */
@media only screen and (max-width: 720px) {
  section {
    width: 260px;
    height: 330px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .page {
    padding: 7px;
  }
  .page h1 {
    font-size: 2em;
  }
  .page h2 {
    font-size: 1.3em;
  }
  .page .dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .line {
    width: 15%;
    height: 80%;
  }
  aside {
    margin-top: 30px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin: 0px;
    font-size: 0.9em;
    padding-bottom: 12px;
  }
}

/* écrans de plus de 720 px et moins de 1024px */
@media only screen and (max-width: 1024px) and (min-width: 720px) {
  .line {
    width: 30%;
    height: 60%;
  }
  .page {
    padding: 30px;
  }
  .page h2 {
    font-size: 1.5em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    margin: 0px;
  }
}

/* format landscape */
@media (orientation: landscape) {
  footer {
    margin: auto;
    height: 60px;
    background-color: #579c87;
    color: #fdcb46;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */